<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./index.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jockey One:wght@400&display=swap" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="home-page">
    		<div class="home-page-child">
    		</div>
    		<div class="rpg">  RPG:  </div>
    		<div class="home-page-item">
    		</div>
    		<div class="horror">  Horror:</div>
    		<div class="home-page-inner">
    		</div>
    		<div class="horror1">  Horror:</div>
    		<div class="rectangle-div">
    		</div>
    		<div class="horror2">  Horror:</div>
    		<div class="home-page-child1">
    		</div>
    		<div class="horror3">  Horror:</div>
    		<div class="horsizontal-1">
      			<div class="horsizontal-1-child">
      			</div>
      			<div class="slideshow" id="slideshowContainer">
        				<div class="vector-parent">
          					<img class="group-child" alt="" src="Rectangle 2.svg">
          					
          					<div class="rectangle-parent" id="groupContainer">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="ss_88ddec97bc688866e9f721bfec70ba789d1b24b2.1920x1080 2.png">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">3.9</div>
          					</div>
        				</div>
        				<div class="vector-group">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-container">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent1">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent2">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
      			</div>
      			<div class="arrows1">
        				<img class="arrow1l-icon" alt="" src="arrow1l.png">
        				
        				<img class="arrow1r-icon" alt="" src="arrow1r.png">
        				
      			</div>
    		</div>
    		<div class="rectangle-parent6">
      			<div class="group-child15">
      			</div>
      			<div class="gamehive">GAMEHIVE</div>
      			<div class="group-child16">
      			</div>
    		</div>
    		<div class="horizontal-2" id="horizontal2Container">
      			<div class="slideshow1" id="slideshowContainer">
        				<div class="vector-group">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-container">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent1">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent2">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent7">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
      			</div>
      			<div class="horsizontal-1-child">
      			</div>
      			<div class="arrows-2">
        				<img class="arrow1l-icon" alt="" src="arrow 2l.png">
        				
        				<img class="arrow1r-icon" alt="" src="arrow 2r.png">
        				
      			</div>
    		</div>
    		<div class="horizontal-3">
      			<div class="frame-3">
      			</div>
      			<div class="slideshow2">
        				<div class="vector-group">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-container">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent1">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent2">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent7">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
      			</div>
      			<div class="arrows-3">
        				<img class="arrow1l-icon" alt="" src="ARROW_3l.png">
        				
        				<img class="arrow1r-icon" alt="" src="ARROW_3r.png">
        				
      			</div>
    		</div>
    		<div class="horizontal-4">
      			<div class="horizontal-4-child">
      			</div>
      			<div class="group-parent">
        				<div class="vector-group">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-container">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent1">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent2">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent7">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
      			</div>
      			<div class="arrows-4">
        				<img class="arrow1l-icon" alt="" src="ARROW4l.png">
        				
        				<img class="arrow1r-icon" alt="" src="ARROW4r.png">
        				
      			</div>
    		</div>
    		<div class="horizontal-5">
      			<div class="horizontal-5-child">
      			</div>
      			<div class="group-container">
        				<div class="vector-group">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-container">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent1">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent2">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
        				<div class="vector-parent22">
          					<img class="group-child" alt="" src="Rectangle 4.svg">
          					
          					<img class="group-child" alt="" src="Rectangle 13.svg">
          					
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="rectangle-group">
            						<div class="group-item">
            						</div>
            						<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
            						
          					</div>
          					<div class="goat-simulator">Goat Simulator</div>
          					<div class="star1">
            						<div class="star-child">
            						</div>
            						<img class="star-item" alt="" src="Star 1.svg">
            						
            						<div class="div">4.3</div>
          					</div>
        				</div>
      			</div>
      			<div class="arrows-5">
        				<img class="arrow1l-icon" alt="" src="ARROW5l.png">
        				
        				<img class="arrow1r-icon" alt="" src="ARROW5r.png">
        				
      			</div>
    		</div>
    		<div class="bottom-header">
      			<div class="bottom-header-child">
      			</div>
      			<img class="icon" alt="" src="180 1 2.png">
      			
      			<img class="search-icon" alt="" src="search.svg" id="searchIcon">
      			
      			<img class="account-circle-24dp-e8eaed-fil-icon" alt="" src="account_circle_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24 1.png" id="accountCircle24dpE8EAEDFILIcon">
      			
    		</div>
  	</div>
  	
  	
  	
  	
  	<script>
    		var groupContainer = document.getElementById("groupContainer");
    		if(groupContainer) {
      			groupContainer.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var slideshowContainer = document.getElementById("slideshowContainer");
    		if(slideshowContainer) {
      			slideshowContainer.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var horizontal2Container = document.getElementById("horizontal2Container");
    		if(horizontal2Container) {
      			horizontal2Container.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var searchIcon = document.getElementById("searchIcon");
    		if(searchIcon) {
      			searchIcon.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var accountCircle24dpE8EAEDFILIcon = document.getElementById("accountCircle24dpE8EAEDFILIcon");
    		if(accountCircle24dpE8EAEDFILIcon) {
      			accountCircle24dpE8EAEDFILIcon.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}</script></body>
</html>