<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./review.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="game-detail">
    		<img class="page-bg-generated-v6b-1-icon" alt="" src="https://media.discordapp.net/attachments/704725720953389076/1335634660335685765/page_bg_generated_v6b_1_1.png?ex=67a0e235&is=679f90b5&hm=b15bab7906cbabe15c488f00ba5a5e9b268bf4be6f2cb11619a28cf5e4e9fd4b&=&format=webp&quality=lossless&width=548&height=1186">
    		
    		<img class="game-detail-child" alt="" src="Rectangle 1.svg">
    		
    		<div class="gamehive">GAMEHIVE</div>
    		<div class="game-detail-item">
    		</div>
    		<div class="game-detail-inner">
    		</div>
    		<div class="goat-simulator">Goat Simulator</div>
    		<div class="star">
      			<div class="star-child">
      			</div>
      			<img class="star-item" alt="" src="https://cdn.discordapp.com/attachments/704725720953389076/1335634840564924487/Star_1.svg?ex=67a0e260&is=679f90e0&hm=83b7ba0dcaa3ff11ac863b24bbdc2699e58577a78c2a6dd483fc79930318a0ce&">
      			
      			<div class="div">4.3</div>
    		</div>
    		<div class="purchase-button">
      			<div class="purchase-button-child" id="rectangle">
      			</div>
      			<div class="purchase-now">Purchase now</div>
      			<img class="click-icon-1" alt="" src="https://media.discordapp.net/attachments/704725720953389076/1335634994634428527/click_icon_1.png?ex=67a0e285&is=679f9105&hm=98ae40b146a6939eadd79572ba86431e256c1bb6ac995b03b096815c75bf4fec&=&format=webp&quality=lossless&width=60&height=60">
      			
    		</div>
    		<div class="description">
      			<div class="description-child">
      			</div>
      			<div class="pilgors-baaack-gather">Pilgor's baaack! Gather your herd and venture forth into Goat Simulator 3; an all-new (at least on Steam), totally realistic, sandbox farmyard experience. Invite up to three friends in local or online co-op, create carnage as a team, or compete in mini-games and then not be friends anymore.</div>
      			<div class="rectangle-parent">
        				<div class="group-child">
        				</div>
        				<div class="add-rating" id="addRatingText">Add rating</div>
      			</div>
    		</div>
    		<div class="bottom-header">
      			<div class="bottom-header-child">
      			</div>
      			<img class="icon" alt="" src="https://media.discordapp.net/attachments/704725720953389076/1335506417498456094/logo.png?ex=67a06ac6&is=679f1946&hm=f7209f417d85ed0a1d913123e22b730390f8921d79aaeaa7a02cdd07568975e2&=&format=webp&quality=lossless&width=100&height=100" id="icon">
      			
      			<img class="account-circle-24dp-e8eaed-fil-icon" alt="" src="https://media.discordapp.net/attachments/704725720953389076/1335635192408178728/account_circle_24dp_E8EAED_FILL0_wght400_GRAD0_opsz24_1.png?ex=67a0e2b4&is=679f9134&hm=d8d1d0d271d86839fab8c909eef9540b947381b638d1ea6bf61c90085b595f0f&=&format=webp&quality=lossless&width=72&height=72">
      			
      			<img class="icon1" alt="" src="icon.svg" id="icon1">
      			
    		</div>
    		<div class="rectangle-div">
    		</div>
    		<img class="ss-88ddec97bc688866e9f721bfec7-icon" alt="" src="https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/850190/ss_62ea64e6444e595117eb355d6a7b76c7c131246a.1920x1080.jpg?t=1734014737">
    		
  	</div>
  	
  	
  	
  	
  	<script>
    		var rectangle = document.getElementById("rectangle");
    		if(rectangle) {
      			rectangle.addEventListener("click", function () {
        				window.open("https://www.goatsimulator3.com/");
      			});
    		}
    		
    		var addRatingText = document.getElementById("addRatingText");
    		if(addRatingText) {
      			addRatingText.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var icon = document.getElementById("icon");
    		if(icon) {
      			icon.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var accountCircle24dpE8EAEDFILIcon = document.getElementById("accountCircle24dpE8EAEDFILIcon");
    		if(accountCircle24dpE8EAEDFILIcon) {
      			accountCircle24dpE8EAEDFILIcon.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}
    		
    		var icon1 = document.getElementById("icon1");
    		if(icon1) {
      			icon1.addEventListener("click", function (e) {
        				// Add your code here
      			});
    		}</script></body>
</html>