.page-bg-generated-v6b-1-icon {
    position: absolute;
    top: 0px;
    left: -612px;
    width: 1524px;
    height: 857.3px;
    object-fit: cover;
}
.game-detail-child {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 390px;
    height: 116px;
}
.gamehive {
    position: absolute;
    top: 54px;
    left: 99px;
    font-size: 40px;
    color: #fff;
    display: inline-block;
    width: 204px;
    height: 50px;
    text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}
.game-detail-item {
    position: absolute;
    top: 367px;
    left: 6px;
    border-radius: 20px;
    background-color: #2b2828;
    width: 379px;
    height: 252px;
}
.game-detail-inner {
    position: absolute;
    top: 378px;
    left: 20px;
    border-radius: 20px;
    background-color: #d9d9d9;
    width: 288px;
    height: 38px;
}
.goat-simulator {
    position: absolute;
    top: 383px;
    left: 33px;
    display: inline-block;
    width: 257px;
    height: 37px;
}
.star-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 9px;
    background-color: #535353;
    width: 104px;
    height: 30px;
}
.star-item {
    position: absolute;
    top: 3px;
    left: 75px;
    width: 25px;
    height: 25px;
}
.div {
    position: absolute;
    top: 2px;
    left: 29px;
    display: inline-block;
    width: 61px;
    height: 26px;
}
.star {
    position: absolute;
    top: 429px;
    left: 20px;
    width: 104px;
    height: 30px;
    color: #fff;
}
.purchase-button-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 25px;
    background-color: #1e9600;
    width: 226px;
    height: 40px;
    cursor: pointer;
}
.purchase-now {
    position: absolute;
    top: 6px;
    left: 22px;
    display: inline-block;
    width: 220px;
    height: 35px;
}
.click-icon-1 {
    position: absolute;
    top: 5px;
    left: 164px;
    width: 30px;
    height: 30px;
    object-fit: cover;
}
.purchase-button {
    position: absolute;
    top: 425px;
    left: 139px;
    width: 242px;
    height: 41px;
}
.description-child {
    position: absolute;
    height: 66.04%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 33.96%;
    left: 0%;
    border-radius: 20px;
    background-color: #838494;
}
.pilgors-baaack-gather {
    position: absolute;
    height: 66.04%;
    width: 96.41%;
    top: 7.55%;
    left: 1.93%;
    display: inline-block;
}
.group-child {
    position: absolute;
    height: 88.46%;
    width: 85.99%;
    top: 0%;
    right: 14.01%;
    bottom: 11.54%;
    left: 0%;
    border-radius: 20px;
    background-color: #6f0101;
}
.add-rating {
    position: absolute;
    height: 96.15%;
    width: 83.44%;
    top: 3.85%;
    left: 16.56%;
    display: inline-block;
    cursor: pointer;
}
.rectangle-parent {
    position: absolute;
    height: 16.35%;
    width: 43.37%;
    top: 71.07%;
    right: -3.31%;
    bottom: 12.58%;
    left: 59.94%;
    font-size: 15px;
}
.description {
    position: absolute;
    top: 471px;
    left: 14px;
    width: 362px;
    height: 159px;
    font-size: 12px;
}
.bottom-header-child {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 30px;
    background-color: #353535;
    width: 390px;
    height: 69px;
}
.icon {
    position: absolute;
    top: 10px;
    left: 47px;
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}
.account-circle-24dp-e8eaed-fil-icon {
    position: absolute;
    top: 17px;
    left: 310px;
    width: 36px;
    height: 36px;
    object-fit: cover;
    cursor: pointer;
}
.icon1 {
    position: absolute;
    height: 39.13%;
    width: 6.92%;
    top: 41.3%;
    right: 46.54%;
    bottom: 19.57%;
    left: 46.54%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    cursor: pointer;
}
.bottom-header {
    position: absolute;
    top: 775px;
    left: 0px;
    width: 390px;
    height: 69px;
}
.rectangle-div {
    position: absolute;
    top: 130px;
    left: 14px;
    border-radius: 20px;
    background-color: #2b2828;
    width: 362px;
    height: 214px;
}
.ss-88ddec97bc688866e9f721bfec7-icon {
    position: absolute;
    top: 141px;
    left: 26px;
    width: 339px;
    height: 193px;
    object-fit: cover;
}
.game-detail {
    width: 100%;
    position: relative;
    background-color: #2b293d;
    height: 844px;
    overflow: hidden;
    text-align: left;
    font-size: 20px;
    color: #000;
    font-family: Inder;
}

